{% extends "base_site.html" %}

{% block title %} Index {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<!-- Main -->
<div id="main">
                
    <!-- Hero Section -->
    <div id="hero" class="has-image">
        <div id="hero-styles">
            <div id="hero-caption" class="content-full-width parallax-scroll-caption">
                <div class="inner">
                    <div class="hero-title-wrapper"><h1 class="hero-title"><span>About</span><span>Our Studio</span></h1></div>                                    
                </div>
            </div>
            <div id="hero-footer">
                <div class="hero-footer-left">
                    <div class="button-wrap right scroll-down">
                        <div class="icon-wrap parallax-wrap">
                            <div class="button-icon parallax-element">
                                <i class="arrow-icon-down"></i>
                            </div>
                        </div>
                        <div class="button-text sticky right"><span data-hover="Scroll to Explore">Scroll to Explore</span></div> 
                    </div>
                </div>
                <div class="hero-footer-right">
                    <div id="info-text">Over 10 Years of Experience</div>
                </div>
            </div>                                   
        </div>
    </div>
    <div id="hero-image-wrapper" class="change-header-color">
        <div id="hero-background-layer" class="parallax-scroll-image">
            <div id="hero-bg-image" style="background-image:url(static/assets/images/dumtac_website.png)"></div>
        </div>
    </div>                        
    <!--/Hero Section -->   
         
    
    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content" class="content-full-width">
        
                
            <!-- Row -->
            <div class="content-row row_padding_top row_padding_left row_padding_right full light-section" data-bgcolor="#eee">
                
                <div class="one_third">
                    <h6 class="has-mask">/ 01</h6>
                </div>
                
                <div class="two_third last">
                    <h6 class="has-mask">/ Our Services</h6>
                </div>
                
                <hr><hr>
                
                <div class="one_third">
                    <h5 class="has-mask">Ux Design</h5>
                    <h5 class="has-mask">MOTION GRAPHICS</h5>
                    <h5 class="has-mask">DIGITAL INTERFACE</h5>
                </div>
                
                <div class="two_third last">
                    <h4 class="has-mask">We help businesses to innovate and remain highly relevant to their customers by developing cutting-edge digital products and executing smart and valuable communication</h4>
                </div>
            
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row light-section full" data-bgcolor="#eee">
                
                <div id="team-panels" class="panels">

                    <div class="panels-container">
                    
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team1.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Patrick Fusariu</div>
                                    <div class="team-cat-panel">Web Designer</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team2.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Marius Atanasescu</div>
                                    <div class="team-cat-panel">Web Developer</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team3.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Alex Vior</div>
                                    <div class="team-cat-panel">SEO Specialist</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team4.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Dorobantu Liviu</div>
                                    <div class="team-cat-panel">Support Team</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team1.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Iulia Masnicovity</div>
                                    <div class="team-cat-panel">Support Team</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel">
                            <div class="panel-content-wrapper">
                                <div class="panel-image">
                                    <img src="static/assets/images/team5.jpg">
                                </div>
                                <div class="panel-content">
                                    <div class="team-name-panel">Dorobantu Liviu</div>
                                    <div class="team-cat-panel">Support Team</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    
                </div>
                
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_left row_padding_right row_padding_bottom full light-section" data-bgcolor="#eee">
            
                <hr class="animated-line has-animation">
                
                <div class="one_third">
                    <h6 class="has-mask">/ 02</h6>
                </div>
                
                <div class="two_third last">
                    <h6 class="has-mask">/ Fun Facts</h6>
                </div>
                
                <hr><hr>
                
                <div class="one_third">
                    <h3 class="has-mask no-margins">Agency</h3>
                    <h3 class="has-mask no-margins">Snapshots</h3>
                </div>
                
                <div class="one_third">
                    <h1 class="has-mask-fill">200+</h1>
                    <hr class="animated-line has-animation">
                    <h6 class="has-mask">Projects Completed</h6>
                    
                    <hr><hr><hr>
                    
                    <h1 class="has-mask-fill">13</h1>
                    <hr class="animated-line has-animation">
                    <h6 class="has-mask">Years of Experience</h6>                                    
                </div>
                
                <div class="one_third last">
                    <h1 class="has-mask-fill">07</h1>
                    <hr class="animated-line has-animation">
                    <h6 class="has-mask">Team Members</h6>
                    
                    <hr><hr><hr>
                    
                    <h1 class="has-mask-fill">188%</h1>
                    <hr class="animated-line has-animation">
                    <h6 class="has-mask">Growing Agency</h6>
                </div>
            
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_bottom light-section" data-bgcolor="#eee">
                
                <div class="title-moving-outer">
                    <h1 class="big-title1 title-moving-forward">We are trusted by over 30,000 clients worldwide.</h1>
                </div>
                
                <div class="title-moving-outer">
                    <h1 class="big-title1 title-moving-backward">We are trusted by over 30,000 clients worldwide.</h1>
                </div>
                
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_left row_padding_right row_padding_bottom full light-section" data-bgcolor="#eee">
                
                <div class="one_third">
                    <h6 class="has-mask">/ 03</h6>
                </div>
                
                <div class="two_third last">
                    <h6 class="has-mask">/ Expertise</h6>
                </div>
                
                <hr><hr>
                
                <div class="one_third">
                    <h3 class="has-mask no-margins">Overview</h3>
                </div>
                
                <div class="two_third last">
                    
                    <dl class="accordion has-animation">
                        <dt>
                            <span class="link"><div>Friendly Support</div></span>
                            <div class="acc-icon-wrap parallax-wrap">
                                <div class="acc-button-icon parallax-element">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </dt>
                        <dd class="accordion-content">We will be with you every step of the way. It’s a promise!</dd>

                        <dt>
                            <span class="link"><div>Money Back</div></span>
                            <div class="acc-icon-wrap parallax-wrap">
                                <div class="acc-button-icon parallax-element">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </dt>
                        <dd class="accordion-content">If you don’t like our theme, we will refund all your money back.</dd>

                        <dt>
                            <span class="link"><div>Premium Quality</div></span>
                            <div class="acc-icon-wrap parallax-wrap">
                                <div class="acc-button-icon parallax-element">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </dt>
                        <dd class="accordion-content">All Themes are made by Envato Elite Author - ClaPat</dd>
                        
                        <dt>
                            <span class="link"><div>Custom Work</div></span>
                            <div class="acc-icon-wrap parallax-wrap">
                                <div class="acc-button-icon parallax-element">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </dt>
                        <dd class="accordion-content">Send us a message with everything you need to customize.</dd>
                    </dl>
                    
                </div>
                
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_top row_padding_bottom full dark-section change-header-color" data-bgcolor="#222">
                    
                <ul class="clients-table has-animation no-borders" data-delay="0">                        
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-01.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-02.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-03.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-04.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-05.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-06.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-07.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-08.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-01.png" alt="client"></a>
                    </li>
                    <li class="link">
                        <a target="_blank" href="https://www.clapat.com/"><img src="static/assets/images/client-02.png" alt="client"></a>
                    </li>                        
                </ul>
                
            </div> 
            <!--/Row -->
        
            
            <!-- Row -->
            <div class="content-row row_padding_top row_padding_left row_padding_right full light-section" data-bgcolor="#eee">
                
                <hr>
                
                <h1 class="text-align-center">We help <span class="has-hover-image hide-ball" data-img="static/assets/images/studio01.jpg">businesses</span> to innovate and remain highly relevant to their <span class="has-hover-image hide-ball" data-img="static/assets/images/studio02.jpg">customers</span> by developing edge digital products</h1>
                
                <hr><hr> 
                
                <div class="one_half"></div>
                
                <div class="one_half last">
                    <h5 class="has-mask-fill">The Challenge</h5>
                    <p class="has-animation" data-delay="0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                    <hr>
                    <h5 class="has-mask-fill">The Approach</h5>
                    <p class="has-animation no-margins" data-delay="100">You need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary with Latin words.</p>
                </div>
            
            </div> 
            <!--/Row -->
            
        
        </div>
        <!--/Main Page Content -->
        
        
        <!-- Page Navigation --> 
        <div id="page-nav">
            <div class="page-nav-wrap">
                <div class="page-nav-caption content-full-width block-title marquee-title">                                 
                    <div class="inner">                                        
                        <a class="page-title next-ajax-link-page" data-type="page-transition" data-firstline="Next" data-secondline="Page" href="contact.html">                                            
                            <div class="next-hero-title-wrapper"><div class="next-hero-title"><span>Get in Touch Get in Touch</span></div></div>
                        </a>
                        <div class="next-hero-subtitle-wrapper"><div class="next-hero-subtitle">
                            <span>We would love to hear from you.</span>
                            <span>Let’s work together</span>
                        </div></div>
                    </div>               
                </div>
            </div>
        </div>      
        <!--/Page Navigation -->
        
                
    </div>
    <!--/Main Content --> 

</div>
<!--/Main -->

{% endblock %}

{% block javascripts %}

{% endblock %}