{% extends "base_site.html" %}

{% block title %} Index {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}

<!-- Main -->
<div id="main">   
    <!-- Hero Section -->
    <div id="hero" class="has-image">
        <div id="hero-styles">
            <div id="hero-caption" class="content-full-width parallax-scroll-caption indent-title">
                <div class="inner">                                                  
                    <div class="hero-title-wrapper"><h1 class="hero-title"><span>Blue Medical</span></h1></div>                    
                </div>
            </div>
            <div id="hero-footer">
                <div class="hero-footer-left">
                    <div class="button-wrap right scroll-down">
                        <div class="icon-wrap parallax-wrap">
                            <div class="button-icon parallax-element">
                                <i class="arrow-icon-down"></i>
                            </div>
                        </div>
                        <div class="button-text sticky right"><span data-hover="Scroll to Explore">Scroll to Explore</span></div> 
                    </div>
                </div>
            </div>                                    
        </div>
    </div>
    <div id="hero-image-wrapper" class="change-header-color">
        <div id="hero-background-layer" class="parallax-scroll-image">
            <div id="hero-bg-image" style="background-image:url(static/assets/images/projects1/2.jpg)"></div>
        </div>
    </div>                        
    <!--/Hero Section -->   
         
    
    <!-- Main Content -->
    <div id="main-content">
        <div id="main-page-content">
        
        
            <!-- Row -->
            <div class="content-row row_padding_top row_padding_left row_padding_right row_padding_bottom full light-section" data-bgcolor="#eee">
                
                <div class="pinned-section">
                    <div class="pinned-element left">
                        
                        <h5>Overview</h5>
                        
                        <h6>
                            User Experience Design<br>
                            Content Strategy<br>
                            Visual design<br>
                            Technical discovery and development<br>
                            Quality assurance testing<br>
                        </h6>
                        
                    </div>
                    
                    <div class="scrolling-element right">
                        
                        <h4 class="has-mask">There are many variations of passages of Lorem Ipsum but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </h4>
                        <hr>
                        <p class="has-animation" data-delay="0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                        <p class="has-animation" data-delay="100">You need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary with Latin words.</p>
                        
                    </div>
                </div>
                
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_left row_padding_right row_padding_bottom full light-section" data-bgcolor="#eee">
            
                <div class="one_third">
                    <figure class="has-animation has-cover" data-delay="0">
                        <a href="static/assets/images/projects1/1.jpg" class="image-link"><img src="static/assets/images/projects1/1.jpg" alt="Image Title"></a>               
                        <figcaption>Image Caption Here</figcaption>
                    </figure>
                </div>
                
                <div class="one_third">
                    <figure class="has-animation has-cover" data-delay="0">
                        <a href="static/assets/images/projects1/3.jpg" class="image-link"><img src="static/assets/images/projects1/3.jpg" alt="Image Title"></a>               
                        <figcaption>Image Caption Here</figcaption>
                    </figure>
                </div>
                
                <div class="one_third last">
                    <figure class="has-animation has-cover" data-delay="100">
                        <a href="static/assets/images/projects1/4.jpg" class="image-link"><img src="static/assets/images/projects1/4.jpg" alt="Image Title"></a>               
                        <figcaption>Image Caption Here</figcaption>
                    </figure>
                </div>
                    
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row row_padding_left row_padding_right row_padding_bottom full light-section" data-bgcolor="#eee">
                
                <div class="one_half"></div>
                
                <div class="one_half last">
                    
                    <h6 class="has-mask">/ Inspiring with design</h6>
                    <hr>
                    <h4 class="has-mask">We help businesses to innovate and remain highly relevant to their customers by developing cutting-edge digital products and executing smart and valuable communication</h4>
                </div>
            
            </div> 
            <!--/Row -->
            
            
            <!-- Row -->
            <div class="content-row light-section" data-bgcolor="#eee">
                
                <div class="swiper-container content-looped-carousel autocenter light-cursor">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="slide-img"><img src="static/assets/images/projects1/6.jpg" alt="Image Title"></div></div>
                        <div class="swiper-slide"><div class="slide-img"><img src="static/assets/images/projects1/6.jpg" alt="Image Title"></div></div>
                        <div class="swiper-slide"><div class="slide-img"><img src="static/assets/images/projects1/6.jpg" alt="Image Title"></div></div>
                    </div>
                    <div class="slider-button-next"></div>
                    <div class="slider-button-prev"></div>
                    <div class="swiper-pagination"></div> 
                </div>
                    
            </div> 
            <!--/Row -->
        
        
        </div>
        <!--/Main Page Content -->      
    </div>
    <!--/Main Content --> 
</div>
<!--/Main --> 

{% endblock %}

{% block javascripts %}

{% endblock %}