{% extends "base_site.html" %}

{% block title %} Index {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}

        <!-- Main -->
            <div id="main">
            
                <!-- Hero Section -->
                <div id="hero">
                    <div id="hero-styles">
                        <div id="hero-caption" class="content-full-width parallax-scroll-caption indent-title">
                            <div class="inner">                                                  
                                <div class="hero-title-wrapper"><h1 class="hero-title"><span>Digital</span><span>Creative</span><span>Agency</span></h1></div>
                                <div class="hero-subtitle-wrapper"><h5 class="hero-subtitle"><span>Every brand has a unique story to tell, and we are here to bring yours to life.</span></h5></div>
                            </div>
                        </div>                               
                    </div>
                </div>                      
                <!--/Hero Section -->   
                     
                
                <!-- Main Content -->
                <div id="main-content">
                    <!-- Main Page Content -->
                    <div id="main-page-content" class="content-max-width">
                        
                        <!-- Row -->
                            
                        <div class="snap-slider-holder">                                
                            <div class="snap-slider-container" data-parallax="1">
                            
                                <div class="snap-slider-images">
                                
                                    <div class="snap-slide change-header-color">
                                        <div class="img-mask">
                                            <div class="section-image">
                                                <img src="static/assets/images/hero6.jpg" alt="">
                                            </div>                              
                                        </div>
                                    </div>
                                    
                                    <div class="snap-slide change-header-color">
                                        <div class="img-mask">
                                            <div class="section-image">
                                                <img src="static/assets/images/hero1_3.jpg" alt="">
                                            </div>                            
                                        </div>
                                    </div>                    
                                    
                                    <div class="snap-slide change-header-color">
                                        <div class="img-mask">
                                            <div class="section-image">
                                                <img src="static/assets/images/BM_about2.jpg" alt="">
                                            </div>                              
                                        </div>
                                    </div>
                                    
                                    <div class="snap-slide change-header-color">
                                        <div class="img-mask">
                                            <div class="section-image">
                                                <img src="static/assets/images/hero3.jpg" alt="">
                                            </div>                              
                                        </div>
                                    </div>                   
                                    
                                    <div class="snap-slide">
                                        <div class="img-mask">
                                            <div class="section-image">
                                                <img src="static/assets/images/SPARK_hero1.jpg" alt="">
                                            </div>                              
                                        </div>
                                    </div>   
                                    
                                </div>
                                
                                
                                <div class="snap-slider-captions">

                                    <div class="snap-slide-caption change-header" data-color="#70261b">
                                        <div class="outer">
                                            <div class="inner">
                                                <div class="slide-title-wrapper">                                                    
                                                    <span><img class="image_logo2" src="static/assets/images/logo_vert_white2.png" alt=""></span>
                                                    <div class="slide-title"><span>TapTap</span>
                                                    <span>Send</span></div>
                                                    <a class="slide-link" data-type="page-transition" href="project05.html"></a>
                                                </div>
                                                <div class="slide-subtitle"><span>2023</span> <span>TV & Digital Advertising</span></div>
                                            </div>
                                        </div>
                                    </div> 
                                
                                    <div class="snap-slide-caption change-header" data-color="#de2606">
                                        <div class="outer">
                                            <div class="inner">
                                                <div class="slide-title-wrapper">
                                                    <div class="slide-title trigger-item-link">                                                        
                                                        <span><img class="image_logo" src="static/assets/images/Logo_Sinia.png" alt=""></span>
                                                        <span>Atay</span><span>Sinia</span>                                                        
                                                    </div>
                                                    <a class="slide-link" data-type="page-transition" href="project01.html"></a>
                                                </div>
                                                <div class="slide-subtitle"><span>2021</span> <span>"Dikrayat Tejma3na"</span><span>Digital Ad Campagn</sapn></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="snap-slide-caption change-header" data-color="#444">
                                        <div class="outer">
                                            <div class="inner">
                                                <div class="slide-title-wrapper">
                                                    
                                                    <div class="slide-title">
                                                        <span><img class="image_logo1" src="static/assets/images/blue_medical_white.png" alt=""></span>
                                                        <span>Dentistry</span> <span>Training</span></div>
                                                    <a class="slide-link" data-type="page-transition" href="project02.html"></a>
                                                </div>
                                                <div class="slide-subtitle"><span>2023</span><span>Event Photography</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="snap-slide-caption change-header" data-color="#462883">
                                        <div class="outer">
                                            <div class="inner">
                                                <div class="slide-title-wrapper">
                                                    
                                                    <div class="slide-title">
                                                        <span><img class="image_logo1" src="static/assets/images/blue_medical_white.png" alt=""></span>                                                        
                                                    <span>Dental <span>Equipment</span> 
                                                    </span> <span>Supplier</span></div>
                                                    <a class="slide-link" data-type="page-transition" href="project03.html"></a>
                                                </div>
                                                <div class="slide-subtitle"><span>2022</span> <span>Institutional Photography</span><span>& Videography</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="snap-slide-caption" data-color="#000">
                                        <div class="outer">
                                            <div class="inner">
                                                <div class="slide-title-wrapper">
                                                    <span><img class="image_logo3" src="static/assets/images/SPARK.png" alt=""></span>                                                        
                                                    <div class="slide-title">                                                        
                                                        <span>DENTAL</span>
                                                        <span>OFFICE</span>
                                                    </div>
                                                    <a class="slide-link" data-type="page-transition" href="project04.html"></a>
                                                </div>
                                                <div class="slide-subtitle"><span>2022</span> <span>Content Creation</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                                                     
                                </div>
                                
                            </div>
                        </div> 
                        <!--/Row -->                           
                        
                    
                    </div>
                    <!--/Main Page Content -->
                    
                    <!-- Page Navigation --> 
                    <div id="page-nav">
                        <div class="page-nav-wrap">
                            <div class="page-nav-caption content-full-width block-title marquee-title">                                 
                                <div class="inner">                                        
                                    <a class="page-title next-ajax-link-page" data-type="page-transition" data-firstline="Next" data-secondline="Page" href="about.html">                                            
                                        <div class="next-hero-title-wrapper"><div class="next-hero-title"><span>STRATEGY & BRANDING</span> <span> | CONTENT PRODUCTION</span> <span> | SOCIAL MEDIA | </span></div></div>
                                    </a>
                                    <div class="next-hero-subtitle-wrapper"><div class="next-hero-subtitle">
                                        <span class="fontSize"><strong>DON'T SKIP A BEAT,<br> ENGAGE WITH US!</strong></span>
                                        <p class="mini">Got a project idea ? Contact us.</span></p>
                                        <span class="mini">62 rue Kadi Bakkar, Quartier Burger, Casablanca.<br>
                                            contact@dumtac.com
                                        </span>
                                        </span>
                                    </div></div>
                                </div>               
                            </div>
                        </div>
                    </div>      
                    <!--/Page Navigation -->
                    
                            
                </div>
                <!--/Main Content --> 
            
            </div>
            <!--/Main -->       

  
{% endblock %}

{% block javascripts %}

{% endblock %}
