<!-- Footer -->
<footer class="hidden" id="contact">        	
    <div id="footer-container">                
        <div id="backtotop" class="button-wrap left">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="arrow-icon-up"></i>
                </div>
            </div>
            <div class="button-text sticky left"><span data-hover="Back Top">Back Top</span></div> 
        </div>
        
        <div class="footer-middle">
            <div class="copyright"><a class="link" target="_blank" href="https://www.clapat.com/">DUMTAC</a> © 2023</div>
        </div>
        
        <div class="socials-wrap">            	
            <div class="socials-icon"><i class="fa-solid fa-share-nodes"></i></div>
            <div class="socials-text">Follow Us</div>
            <ul class="socials">
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.instagram.com/dumtac/" target="_blank"><i class="fa-brands fa-instagram"></i></a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.tiktok.com/@dumtac?_t=8a5MWer1fL3&_r=" target="_blank"><i class="fa-brands fa-tiktok"></i></a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.youtube.com/@dumtac7044" target="_blank"><i class="fa-brands fa-youtube"></i></a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.linkedin.com/company/dumtac/?trk=public_profile_experience-item_profile-section-card_image-click&originalSubdomain=fr" target="_blank"><i class="fa-brands fa-linkedin"></i></a></span></li>
            </ul>                
        </div>
        
    </div>
</footer>
<!--/Footer -->