<div class="thumb-wrapper">
    <div class="thumb-container">
        <div class="thumb-page" data-src="static/assets/images/01hero.jpg"></div>
        <div class="thumb-page" data-src="static/assets/images/02hero.jpg"></div>
        <div class="thumb-page" data-src="static/assets/images/03hero.jpg"></div>
        <div class="thumb-page" data-src="static/assets/images/04hero.jpg"></div>
        <div class="thumb-page" data-src="static/assets/images/05hero.jpg"></div>
        <div class="thumb-page" data-src="static/assets/images/06hero.jpg"></div>
    </div>
</div>